<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.food.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Delivery_registeration"></activity>
        <activity android:name=".Delivery_LoginPhone" />
        <activity android:name=".Delivery_Login" />
        <activity android:name=".Registeration" />
        <activity android:name=".LoginPhone" />
        <activity android:name=".Login" />
        <activity android:name=".ChefRegisteration" />
        <activity android:name=".Chefloginphone" />
        <activity android:name=".ChefLogin" />
        <activity android:name=".ChooseOne" />
        <activity android:name=".MainMenu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>